* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #789C6F;
    background-image: 
        linear-gradient(rgba(255,255,255,0.15) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255,255,255,0.15) 1px, transparent 1px);
    background-size: 60px 60px;
    font-family: 'Poppins';
    
    display: flex;
    flex-direction: column; /* header on top, cart below */
    min-height: 100vh;      /* full viewport height */
    position: relative;
}
/* HEADER ---------------------------------------------------- */
@font-face{
    font-family:'Kalista';
    src: url('fonts/Kalista.ttf') format('truetype');
}
@font-face{
    font-family: 'Reverie';
    src: url('fonts/REVERIE.otf') format('opentype');
}
@font-face{
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
}

header {
    background-color: #FFDAFB;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins';
    font-size: 1.8rem;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-left: 200px;
}
.profile_links{
    display: flex;
    gap: 30px;
    margin-right: 30px;
}
.nav a {
    text-decoration: none;
    color: black;
    transition: border 0.3s ease;
    border-radius: 25px;
    border: 3px solid transparent;
    padding: 10px; 
}

.nav a:hover {
    border: 3px solid black;
}
.logo{
    margin-left: 50px;
}
#cartheading{
margin-left: 820px;
margin-top: 100px;
    
}
#cartheading p{
font-family: 'Reverie';
color: #FFDAFB;
 font-size: 5.6rem;

}
#cartheading span{
    font-family: 'Kalista';
    color: white;
    font-size: 6rem;
    margin-left: 140px;
    position: relative;
    top: -60px; 
   
    
}
.cart {
    display: flex;
    justify-content: center; /* horizontal centering */
    align-items: center;     /* vertical centering */
    flex: 1;                 /* takes remaining space below header */
    padding: 40px 20px;
}

.cart-container {
    width: 95%;
    max-width: 1300px;
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 25px;
}


.items_cart {
    background: transparent;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
     margin-top: -30px;
     overflow-y: auto;   
    overflow-x: hidden;
}


.cart-item {
    background: #FFDAFB;
    border: 4px solid black;
    border-radius: 25px;
    padding: 20px;
    display: grid;
    grid-template-columns: 120px 2fr 1fr 1fr auto; 
    align-items: center;
    gap: 20px;
}

.cart-header {
    background: transparent;
    border: none;
    padding: 0;
    font-size: 1.1rem;
    color: white;
    /* border: 2px solid black; */
    position: relative;
     position: sticky;
    top: 0;
    z-index: 5;
}
#product{
    margin-left: 50px;
}
#delete{
margin-right: -60px;
}
#total_header{
    margin-right: -100px;
}
#quantity{
    margin-left: 360px;
    
}


.cart-item img {
    width: 100%;
    height: auto;
    border: 3px solid black;
    border-radius: 15px;
}
 


.item-info {
    font-size: 1.2rem;
    font-weight: 600;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;    
    text-align: center;
    gap: 5px;
}


.quantity-box {
    display: flex;
    align-items: center;
    justify-content: center; 
    gap: 10px;
}


.qty-btn {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px solid black;
    background: #789C6F;
    font-size: 1.4rem;
    font-weight: 700;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}

.item-total {
    font-size: 1.2rem;
    font-weight: 700;
    display: flex;
    justify-content: center;
    align-items: center;
}


.delete-btn {
    background: #789C6F;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: transparent;
}

.delete-btn img {
    width: 18px;
}
.cart-item .delete-btn img{
    border: none;
}


.summary-box {
    background: #FFDAFB;
    border: 4px solid black;
    border-radius: 25px;
    padding: 30px;
    font-size: 1.3rem;
    font-weight: 600;
}

.summary-box h2 {
    font-family: 'Reverie';
    font-size: 2.5rem;
    margin-bottom: 25px;
}

.summary-line {
    display: flex;
    justify-content: space-between;
    margin: 15px 0;
}

.total span:last-child {
    font-size: 1.6rem;
}

.pay-btn {
    width: 100%;
    padding: 15px;
    margin-top: 25px;
    background: #789C6F;
    color: black;
    border: 3px solid black;
    border-radius: 20px;
    font-size: 1.3rem;
    font-weight: 700;
    cursor: pointer;
}
#suggestions_heading{
    margin-top: 20px;
    margin-left:190px;
    font-weight: 400;
    font-size: 64px;
    font-family: 'Reverie';
    color: #FFDAFB;
}
.suggestions_imgs{
    margin-top: 30px;
    display: flex;
    gap:4rem;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
}
.add_to_cart{
    background-color: #FFDAFB;
    color:black;
    padding: 10px;
    border: 3px solid black;
    border-radius: 15px;
    font-weight: 700;
    font-size: 1rem;
    transition: background-color 0.3s ease;
}
.add_to_cart:hover{
    background-color: transparent;
}
.product_info{
   
 color: white;
}
.category{
    color: #FFDAFB;
    font-weight: 700;
}
/* Modal overlay (cart page) */
.modal {
  display: none; /* hidden by default */
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 430px;
  background:#7fa36f;
  border:2px solid #000;
  border-radius:8px;
  padding:24px 28px 30px;
  font-family:'Poppins', sans-serif;
}

/* Close button */
.modal .close {
.modal .close {
  position: absolute;
  top: 14px;
  right: 18px;
  width: 24px; /* adjust size as needed */
  height: 24px;
  cursor: pointer;
}
}
.modalheading h1{
    font-size: 40px;
    color:#FFDAFB;
    font-family: 'Reverie';
}
.modalheading span{
    font-size: 1000px;
    font-family: 'Kalista';
    margin-top: -50px;
    color: white;
}
/* Title */
.modal h1{
  font-family:'Reverie', sans-serif;
  text-align:center;
  color:#FFDAFB;
  font-size:40px;
  margin-bottom:20px;
  font-weight: 400;
}

.modal h1 span{
  display:block;
  font-size:20px;
  margin-top:-6px;
}

/* Inputs and labels */
.modal label{
  color:#f5f5f5;
  font-size:13px;
  display:block;
  margin-top:16px;
}
.modal input{
  width:100%;
  background:transparent;
  border:none;
  border-bottom:1px solid #e8e8e8;
  padding:6px 2px;
  color:white;
  outline:none;
}

/* Row fields */
.modal .row{
  display:flex;
  gap:24px;
  margin-top:16px;
}
.modal .row .field{
  flex:1;
}

/* Options */
.modal .options{
  display:flex;
  justify-content:center;
  gap:40px;
  margin:22px 0 14px;
  color:white;
  font-size:14px;
}
.modal .options label{
  margin:0;
  display:flex;
  align-items:center;
  gap:8px;
}

/* Terms */
.modal .terms{
  display:flex;
  align-items:center;
  gap:8px;
  font-size:12px;
  color:#eee;
  margin-bottom:18px;
}

/* Pay button inside modal */
.modal button{
  display:block;
  margin:0 auto;
  background:#ffd6ef;
  border:1px solid #000;
  border-radius:8px;
  padding:6px 24px;
  font-weight:bold;
  cursor:pointer;
}
.about-footer {
  background-color: #FFDAFB;
  color: black;
  padding: 80px 64px 40px;
  position: relative;
  z-index: 3;
  font-family: 'Poppins';
}

.footer-container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1.2fr 1fr 1fr 1fr;
  gap: 48px;
  margin-bottom: 32px;
}

.footer-brand {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-logo-img {
    transform: translate(-80px, 60px);
  width: 400px;
  height: auto;
}

.footer-brand-name {
  /* font-family: "Reverie", "Playfair Display", serif; */
  font-size: 1.5rem;
  color: var(--white);
}

.footer-column-title {
  /* font-family: "Reverie", "Playfair Display", serif; */
  font-size: 2rem;
  margin-bottom: 5px;
  color: #ffdafb;
  font-weight: 400;
}

.footer-links {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-links a {
  color: black;
  font-weight: 500;
  transition: opacity 0.3s;
  text-decoration: none;
}

.footer-links a:hover {
  opacity: 0.8;
}

.footer-socials {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.footer-socials a {
  display: flex;
  align-items: center;
  gap: 12px;
  color:black;
  font-weight: 500;
  transition: opacity 0.3s;
  text-decoration: none;
}

.footer-socials img {
  width: 24px;
  height: 24px;
   filter: brightness(0); 
}

.footer-socials a:hover {
  opacity: 0.8;
}

.footer-contact {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  color: black;
  font-weight: 500;
}
.footer-contact{
   filter: brightness(0); 
}

.footer-copyright {
  text-align: center;
  color: black;
  font-size: 0.9rem;
  margin-top: 32px;
  padding-top: 32px;
  border-top: 1px solid rgba(255, 255, 255, 0.3);
}
