*{
    margin:0;
    padding:0;
}
@font-face{
    font-family:'Kalista';
    src: url('fonts/Kalista.ttf') format('truetype');
}
@font-face{
    font-family: 'Reverie';
    src: url('fonts/REVERIE.otf') format('opentype');
}
@font-face{
    font-family: 'Poppins';
    src: url('fonts/Poppins-Regular.ttf') format('truetype');
}
header{
background-color: #FFDAFB;
width: 100%;
height: auto;
display: flex;
justify-content: space-between;
/* padding:0.4rem; */
align-items: center;
/* gap:40rem; */
/* border: 2px solid black; */
font-family: 'Poppins';
font-size: 1.8rem;
}
.nav{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    margin-left: -200px;
}
.nav a{
text-decoration: none;
color: black;
 transition: border 0.3s ease;
    border-radius: 25px;
    border: 3px solid transparent;
    padding:10px; 
}
.nav a:hover{
    border: 3px solid black;
}
#star1{
    position: absolute;
    top: 220px;
    right:590px;
    width: 6rem;
    height: 6rem;
}
#star2{
    position: absolute;
    top:360px;
    left:700px;
     width: 6rem;
    height: 6rem;
}
#polariod_hero1{
    position: absolute;
    left:100px;
    top:30px;
    z-index: 1;
   
}
#polariod_heroimg1{
    position: absolute;
    left:189px;
    top:100px;
    width:16rem;
    height: 20rem;
    transform: rotate(-13deg);
    z-index: 0;
}
#polariod_hero2{
     position: absolute;
    right:0px;
    bottom:100px;
    z-index: 1;
}
#polariod_heroimg2{
   position: absolute;
    transform: rotate(-13deg);
    z-index: 0;
    right:115px;
    bottom:200px;
    width:16rem;
    height:20rem;
}
#hero_section{
    width:100%;
    height:50rem;
    /* border: 2px solid black; */
    background-image: url(imgs/hero-sectionbg.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center; /* <- was space-around */
  align-items: center;
    position: relative;
}
#hero_content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:2.5rem;
    /* border: 2px solid black; */
}
#hero_text p{
    font-size: 5.6rem;
    font-family: 'Reverie';
    color: white;
}
#hero_text span{
    font-size: 6rem;
    font-family: 'Kalista';
    margin-left: 115px;
    color: white;
    position: relative;
    top: -40px; 
}
 .mainbtn{
    background-color: #FFDAFB;
    align-items: center;
    padding: 2px;
    width: 10rem;
    height: 3.5rem;
    font-size: 1.5rem;
    border-radius: 1rem;
    font-weight: 700;
    transition: background-color 0.3s ease;
    border: 4px solid black;
}
#hero_btn button{
     margin-top: -40px;
}
.mainbtn:hover{
    background-color: transparent;
}
#doodle1{
    
    position: absolute;
    top:200px;
    left:0px;
    
}
#about_us {
  position: relative;
  z-index: 999;         
  /* height: 38rem;     */
  margin-top: -100px;      
  padding-top: 90px;    
  padding-bottom: 180px;   
  /* background-image: url(imgs/paperwhite.svg); */
  align-items: center;
  /* border: 2px solid black;     */
}
#paperwhite1{
    position: absolute;
    width: 100%;
    top:-70px;
    z-index: -1;
}
#papergreen1{
    position: absolute;
    width:100%;
    top:-50px;
    /* transform: translateX(30px); */
    z-index: -1;
}
#paperwhite2{
    position: absolute;
    transform: rotate(180deg);
    width: 100%;
    z-index: -1;
    top:200px;
}
#papergreen2{
    position: absolute;
    transform: rotate(180deg);
    width: 100%;
    z-index: -1;
    top:170px;
}
#about_uscontent{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
   
}
#about_usheading p{
font-family: 'Reverie';
color: #FFDAFB;
 font-size: 5.6rem;
 z-index: 999;
}
#about_usheading span{
    font-family: 'Kalista';
    color: white;
    font-size: 6rem;
    margin-left: 60px;
    position: relative;
    top: -40px; 
    z-index: 999;
    
}
#about_ustext{
    color:white;
    width: 70rem;
    height: 13.5rem;
    font-size: 1.2rem;
    z-index: 999;
    font-family: 'Poppins';
}
#about_ustext p{
 text-align: center;
}
#about_usbtn{
    margin-top: -30px;
}
#doodle2{
    position: absolute;
    right:0px;
    bottom:0px;
}
#shop{
    position: relative;
    /* z-index: -5; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* gap:4rem; */
}
#line1{
position: absolute;
width: 100%;
top:-150px;
z-index: -1;
}
#line2{
position: absolute;
width: 100%;
top:118px;
z-index: -1;
}
#paperpink1{
    width: 100%;
    position: absolute;
    z-index: -2;
    top:-210px;
}
#paperpink2{
    width: 100%;
    position: absolute;
    transform: rotate(180deg);
    z-index: -2;
    top:350px;
}
#pinkfiller{
    background-color: #FFDAFB;
     width: 100%;
    position: absolute;
    height: 35rem;
    width: 100%;
    top:270px;
    z-index: -7;
    
    
}

#shopheading p{
font-family: 'Reverie';
color: black;
 font-size: 5.6rem;
}
#shopheading span{
    font-family: 'Kalista';
    color: #789C6F;
    font-size: 6rem;
    margin-left: -20px;
    position: relative;
    top: -50px; 
}
.polariods{
    position: relative;
    width: 90%;
}
.polariod{
    position: absolute;
     transform: scale(1.2);
}
#polariod1{
    top:-130px;
    left:40px;
}
#polariod2{
   bottom:-500px;
    left:690px;
}
#polariod3{
    right:0px;
    top:-130px;
}
.shopnowbtn{
    background-color: white;
    font-size: 1.5rem;
    font-family: 'Poppins';
    color: black;
    padding: 16px;
    border: 3px solid black;
    border-radius: 15px;
     transition: 0.3s ease;
}
.shopnowbtn:hover{
    border: 3px solid #789C6F;
    color: #789C6F;
}
#btn1{
    position: absolute;
    left:130px;
    top:395px;
}
#btn2{
    position: absolute;
    left:130px;
    top:395px;
}
#btn3{
    position: absolute;
     left:130px;
    top:395px;
}
.polariodimg{
    position: absolute;
    z-index: -1;
      left:30px;
    top:25px;
}
.greenstar{
    position: absolute;
    bottom:0px;
    left:370px;
}
/* #polariod1img{
    left:30px;
    top:
} */




#theme{
    position: relative;
    /* border: 2px solid black; */
    margin-top: 620px;
    /* z-index: 1; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
#checker{
    position: absolute;
    z-index: 2;
    right:0px;
    height: 40rem;
    width: 74rem;
}
#paperwhite3{
 position: absolute;
    width: 100%;
    top:-70px;
    z-index: -1;
}
#papergreen3{
position: absolute;
    width:100%;
    top:-50px;
    z-index: -1;
}
#themeheading{
    margin-top: 30px;
}
#themeheading p{
    font-family: 'Reverie';
color: #FFDAFB;
 font-size: 5.6rem;
}
#themeheading span{
     font-family: 'Kalista';
    color: white;
    font-size: 6rem;
    margin-left: 110px;
    position: relative;
    top: -50px; 
}
.categories{
    display: flex;
    justify-content: center;
    gap:4rem;
    z-index: 999;
}
#startheme1{
    position: absolute;
    left:350px;
}
#startheme2{
    position: absolute;
    left:640px;
}
#startheme3{
      position: absolute;
    left:920px;
}
#startheme4{
     position: absolute;
    left:1200px;
}
#startheme5{
    position: absolute;
    left:1480px;
}
#startheme6{
    position: absolute;
    left:1760px;
}
.category{
    font-family: 'Reverie';
    font-size: 3rem;
    height:13rem;
    width:13rem;
    border-radius: 50%;
    border: 6px solid black;
    background-color: #FFDAFB;
    text-align: center;
    transition: transform 0.3s ease;
}

.startheme{
     transition: filter 0.3s ease, transform 0.3s ease;
}
.category p{
    margin-top: 70px;
}
#theme_btn{
    margin-top: 40px;
    z-index: 999;
}
#paperwhite4{
 position: absolute;
    transform: rotate(180deg);
    width: 100%;
    /* z-index: 1; */
    top:200px;
}
#papergreen4{
  position: absolute;
    transform: rotate(180deg);
    width: 100%;
    /* z-index: 3; */
    top:170px;
}
#costumize{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index:0;
    position: relative;
    padding-top: 150px;
    background-color: #FFDAFB;
   
    /* border: 2px solid black; */
    
}
#greendoodle{
    position: absolute;
    left: 0px;
    top:90px;
    height: 19rem;
    width: 19rem;
}
#greendoodle2{
    position: absolute;
    right: 0px;
    bottom:0px;
}
.slideshow-wrapper {
    position: relative;
    width: 300px; /* adjust to your needs */
    overflow: hidden;
    
}

.costumizetops {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.costumizetops img {
    width: 100%;
    flex-shrink: 0;
}

.slide-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: transparent;
    color: black;
    border: 3px solid black;   
    padding: 14px 20px;        
    cursor: pointer;
    z-index: 10;
    border-radius: 15px;       
    font-size: 30px;          
}
.left-btn {
    margin-top: 200px;
    left:800px;
}

.right-btn {
    margin-top: 200px;
    right: 800px;
}



/* -150 */
#line3{
position: absolute;
width: 100%;
top:-10px; 
opacity: 0.5;
/* z-index: 0; */
}
/* 118 */
#line4{
position: absolute;
width: 100%;
top:75px;
opacity: 0.5;
/* z-index: -1; */
}
#paperpink3{
    width: 100%;
    position: absolute;
    z-index: -7;
    top:80px;
}
#costumizeheading{
    margin-top: 30px;
}
#costumizeheading p{
    font-family: 'Reverie';
color:black;
 font-size: 5.6rem;
}
#costumizeheading span{
     font-family: 'Kalista';
    color: #789C6F;
    font-size: 6rem;
    margin-left: 20px;
    position: relative;
    top: -50px; 
}
/* === YOUR EXISTING CSS HERE === */

/* ----------------- MOBILE RESPONSIVE ----------------- */
/* Hide hamburger on desktop */
.hamburger {
    display: none;
    font-size: 2rem;
    cursor: pointer;
}

/* Hamburger menu toggle */
#navLinks {
    transition: max-height 0.3s ease;
}

/* --- MEDIA QUERIES --- */
@media screen and (max-width: 992px) {

    /* Show hamburger */
    .hamburger {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
        z-index: 999;
    }

    /* Hide nav initially */
    #navLinks {
        flex-direction: column;
        max-height: 0;
        overflow: hidden;
        gap: 1rem;
        background-color: #FFDAFB;
        width: 100%;
        position: absolute;
        top: 70px;
        left: 0;
        padding: 1rem 0;
    }

    #navLinks.show {
        max-height: 500px; /* arbitrary large value */
    }

    header {
        position: relative;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
    }

    /* Hero polaroids scaling */
    #polariod_heroimg1 { left: 20px; top: 50px; width: 10rem; height: 13rem; }
    #polariod_hero1 { left: 40px; top: 20px; }
    #polariod_heroimg2 { right: 20px; bottom: 120px; width: 10rem; height: 13rem; }
    #polariod_hero2 { right: 30px; bottom: 80px; }

    #star1, #star2 { width: 3rem; height: 3rem; }

    /* Shop polaroids stack */
    .polariods {
        flex-direction: column;
        align-items: center;
    }
    .polariod {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        margin-bottom: 2rem;
        transform: scale(1);
    }
    .polariodimg {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
    }
    .shopnowbtn {
        position: relative !important;
        top: 0 !important;
        left: 0 !important;
        margin-top: 0.5rem;
    }

    /* Theme section wrap */
    .categories { flex-wrap: wrap; justify-content: center; gap: 1rem; }
    .category { width: 8rem; height: 8rem; font-size: 2rem; }

    /* Text scaling */
    #hero_text p { font-size: 3rem; text-align: center; }
    #hero_text span { font-size: 3.5rem; top: -20px; margin-left: 0; }
}

/* Small phones */
@media screen and (max-width: 600px) {
    #hero_section { height: 30rem; }
    #hero_text p { font-size: 2rem; }
    #hero_text span { font-size: 2.5rem; top: -15px; }

    .mainbtn { width: 7rem; height: 2.8rem; font-size: 1rem; }
    .category { width: 6rem; height: 6rem; font-size: 1.5rem; }
}
